@tailwind base;
/* @tailwind components; */
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d253f;
  color: white;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}
